@font-face {
	font-family: "BAESystemsWeb-Light";
	font-style: normal;
	font-display: swap;
	font-weight: 100;
	src: url("fonts/baesofie/latin/light/BAESystemsWeb-Light.eot");
	src: url("fonts/baesofie/latin/light/BAESystemsW05-Light.woff2")
			format("woff2"),
		url("fonts/baesofie/latin/light/BAESystemsW05-Light.woff")
			format("woff"),
		url("fonts/baesofie/latin/light/BAESystemsWeb-Light.eot?#iefix")
			format("embedded-opentype");
}

@font-face {
	font-family: "BAESystemsWeb-Regular";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url("fonts/baesofie/latin/regular/BAESystemsWeb-Regular.eot");
	src: url("fonts/baesofie/latin/regular/BAESystemsW05-Regular.woff2")
			format("woff2"),
		url("fonts/baesofie/latin/regular/BAESystemsW05-Regular.woff")
			format("woff"),
		url("fonts/baesofie/latin/regular/BAESystemsWeb-Regular.eot?#iefix")
			format("embedded-opentype");
}

@font-face {
	font-family: "BAESystemsWeb-Bold";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url("fonts/baesofie/latin/bold/BAESystemsWeb-Bold.eot");
	src: url("fonts/baesofie/latin/bold/BAESystemsW05-Bold.woff2")
			format("woff2"),
		url("fonts/baesofie/latin/bold/BAESystemsW05-Bold.woff") format("woff"),
		url("fonts/baesofie/latin/bold/BAESystemsWeb-Bold.eot?#iefix")
			format("embedded-opentype");
}

@font-face {
	font-family: "baeicon";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url("fonts/icomoon/fonts/baeicons.eot?hq6tm2");
	src: url("fonts/icomoon/fonts/baeicons.eot?hq6tm2#iefix")
			format("embedded-opentype"),
		url("fonts/icomoon/fonts/baeicons.ttf?hq6tm2") format("truetype"),
		url("fonts/icomoon/fonts/baeicons.woff?hq6tm2") format("woff"),
		url("fonts/icomoon/fonts/baeicons.svg?hq6tm2#baeicon") format("svg");
}

@font-face {
	font-family: "icons";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url("fonts/icons/icon.eot?g5zk0a");
	src: url("fonts/icons/icon.eot?g5zk0a#iefix") format("embedded-opentype"),
		url("fonts/icons/icon.ttf?g5zk0a") format("truetype"),
		url("fonts/icons/icon.woff?g5zk0a") format("woff"),
		url("fonts/icons/icon.svg?g5zk0a#icon") format("svg");
}

@font-face {
	font-family: "social";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url("fonts/social/icomoon.eot?p9xjp4");
	src: url("fonts/social/icomoon.eot?p9xjp4#iefix")
			format("embedded-opentype"),
		url("fonts/social/icomoon.ttf?p9xjp4") format("truetype"),
		url("fonts/social/icomoon.woff?p9xjp4") format("woff"),
		url("fonts/social/icomoon.svg?p9xjp4#icomoon") format("svg");
}
